[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
snakeviz = "*"

[packages]
numpy = "*"
tqdm = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
mpmath = "*"
sympy = "*"
dask = {extras = ["complete"],version = "*"}
lz4 = "*"
paramiko = "*"
dask-cloudprovider = "*"

[requires]
python_version = "3.7"
