-i https://pypi.org/simple
bcrypt==3.1.7
bokeh==2.0.2
cffi==1.14.0
click==7.1.2
cloudpickle==1.4.1
cryptography==39.0.1
cycler==0.10.0
dask[complete]==2.17.0
distributed==2.17.0
fsspec==0.7.4
dask-cloudprovider==0.4.1
heapdict==1.0.1
jinja2==2.11.2
kiwisolver==1.2.0
locket==0.2.0
lz4==3.0.2
markupsafe==1.1.1
matplotlib==3.2.1
mpmath==1.1.0
msgpack==1.0.0
numpy==1.18.4
packaging==20.4
pandas==1.0.3
paramiko==2.7.1
partd==1.1.0
pillow==7.1.2
psutil==5.7.0
pycparser==2.20
pynacl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
scipy==1.4.1
seaborn==0.10.1
six==1.15.0
sortedcontainers==2.1.0
sympy==1.6
tblib==1.6.0
toolz==0.10.0
tornado==6.0.4 ; python_version < '3.8'
tqdm==4.46.0
typing-extensions==3.7.4.2
zict==2.0.0
